<div class="small_post">
	<div class="image">
		<img src="<%=post.picture %>" class="img-circle" alt="<%= post.title %>">
	</div>

	<div class="strip">
	</div>

	<div class="title">
		<% @post.title %>
	</div>

	<div class="title">
		<% @post.content %>
	</div>

	<div class="social_plugins">
		<div>
			
		</div>
	</div>
</div>