<div class="container">
    <div class="categoryName">
      <center><h1> <%= @category.name %> </h1></center>
    </div>
    <div class="container-fluid">

      <% postsLeft = @posts.size %>
        <% total=0 %>
      <% for i in 0...(postsLeft)%>
        <% if !(@posts[i].nil?)%>

                <% if (i%4) == 0 %>
                  <div class="row  small_post_row_box" style="margin-bottom: 20px;">
                <% end %>

                <div class="col-md-3  col-sm-3  small_post" style="margin-left:0px;">
                  <%=smallPost(@posts[i]).html_safe%>
                  <%total = total+1%>
                </div>
                <% if total==4 %>
                  </div>
                  <% total = 0 %>
                <%end%>

                <% if @posts[i+1].nil? && total!=0 %>
                  </div>
                <% end %>

        <% else %>
          <% break %>
        <% end %>
      <% end %>


</div>
<center><%= will_paginate @posts,renderer: BootstrapPagination::Rails %></center>
</div>
